$column-spacing: 10px;

.my-masonry-grid {
  position: relative;
  display: flex;
  margin: auto;
  width: 80%;
  left: -$column-spacing;
}

.my-masonry-grid_column {
  margin: $column-spacing;
}

.my-masonry-grid_column > span {
  margin: 25px 0;
}
