@import "base";

.hidden {
  display: none;
}

.filterDropDown {
  background-color: $white;
  box-shadow: 0px 3px 10px#D7D7E0;
  padding: 20px;
  position: absolute;
  z-index: 1;
  background-color: white;
  // left: 6.5vw;
  transform: translateY(-15px);
  display: flex;
  flex-direction: column;

  .filterItem {
    background-color: $off-white;
    margin: 6px;
    padding: 7px;
    border-radius: 5px;
    list-style-position: inside;
    list-style: none;
    border: none;
    text-align: left;
    &:hover {
      background-color: $light-blue;
    }
  }
}
.typeDisplacement {
  transform: translateX(60px);
}
.geoDisplacement {
  transform: translateX(8vw);
}

.filterDropDown button::before {
  content: "\2022";
  color: $secondary-color;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.filterContainer {
  display: inline-block;
  flex-direction: row;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 3vw;
  min-width: 300px;
  justify-self: flex-start;

  p {
    padding: 0 10px;
    font-family: $primary-font;
    display: inline-block;
    font-size: 16px;
  }

  button {
    outline: none;
    height: 2rem;
    background-color: $primary-color;
    border: none;
    border-radius: 20px;
    min-width: 60px;
    padding: 4px 10px;
    font-family: $primary-font;
    font-size: 16px;
  }

  button:hover {
    background-color: $light-blue;
  }

  button:active {
    transform: translateY(2px);
  }

  object {
    height: 10px;
    margin-left: 10px;
    pointer-events: none;
  }

  object {
    height: 10px;
    margin-left: 10px;
    pointer-events: none;
  }
}
