@import "base";

.search {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
}

.hrBlue {
  border: 0.4px solid $secondary-color;
  width: 93%;
  margin: 0 3.5%;
}
