@import "base";

.userbutton {
  background-color: $primary-color;
  width: 150px;
  height: 38px;
  border-style: none;
  border-radius: 5px;
  color: $secondary-color;
  font-family: $primary-font;
  font-size: 18px;
  &:active {
    color: white;
    background-color: $secondary-color;
  }
}

.margin-right-10 {
  margin-right: 30px;
}
