$primary-color: #e5f5fc;
$secondary-color: #009ede;
$white: #fff;
$off-white: #f8f9fa;
$dark-grey: #343a40;
$rock: #58595b;
$grey: #6c757d;

// optional
$blue: #49853e;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

$success: #28a745;
$warning: #ffc107;
